<ng-template #subHeader>
  <div class="flex">
    <div class="selects">
      <div class="select">
        <label for="agent">Agent</label>
        <select (change)="selectAgent($event)" id="agent" name="agent">
          <option [value]="null">Agent</option>
          <option *ngFor="let agent of agents.agents$ | async" [value]="agent.id">{{agent.fullName}}</option>
        </select>
      </div>

      <div class="select">
        <label for="call">Call</label>
        <select [disabled]="!activeAgent || activeAgent.id == null" (change)="selectCall($event)" id="call" name="call">
          <option [value]="null">Call</option>
          <option *ngFor="let call of calls.activeAgentCalls$ | async" [value]="call.id">{{call.startTime | date: 'dd.MM.yyyy'}} {{ call.customer?.speakerName}}</option>
        </select>
      </div>
    </div>

    <div *ngIf="activeTranscript && activeTranscript.id != null" style="align-items: center; display: flex; gap: .5rem;">
      MATCHING SENSITIVITY
      <input
        #matcher (change)="calls.setMatchingPercentage(matcher.value)" [value]="calls.matchingPercentage$ | async"
        max="100"
        min="1" type="range"
        value="50">{{ calls.matchingPercentage$ | async }}%
    </div>
  </div>
</ng-template>

<section *ngIf="calls.activeTranscript$ | async as call; else noData" class="content">
  <div class="card">
    <h1>
      Real
      <span>Matching: {{ calls.matchingPercentage$ | async }}%</span>
    </h1>
    <table width="100%">
      <thead>
      <th>Time</th>
      <th>Speaker</th>
      <th>Sentence</th>
      </thead>
      <tbody>
      <tr *ngFor="let transcript of call.transcript">
        <div [class.highlight]="checkTranscriptMatches(transcript)" >
          <td>{{ transcript.timeFrom }}</td>
          <td>{{ call.getSpeaker(transcript.channel) }}</td>
          <td tooltip="61% matching with line #1 'This is a sample sentence #76'">
            {{ transcript.sentence }}
          </td>
        </div>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="card">
    <h1>
      Expected
      <span>Percent of script covered: %</span>
    </h1>
    <table width="100%">
      <thead>
      <th>Line</th>
      <th>Speaker</th>
      <th>Sentence</th>
      </thead>
      <tbody>
      <tr *ngFor="let scriptLine of call.script">
        <div [class.highlight]="checkSimilarity(scriptLine)">
          <td>{{ (scriptLine.order + 1) }}</td>
          <td>Rep:</td>
          <td tooltip="61% matching with line #1 'This is a sample sentence #76'">
            {{ scriptLine.sentence }}
          </td>
        </div>
      </tr>
      </tbody>
    </table>
  </div>
</section>

<ng-template #noData> 
  <div class="empty-state">
    <strong>Selection Pending</strong>
    <br>
    <p>Select a call from top menu ad a transcript analysis will be shown here</p>
  </div>
</ng-template>
